{% extends "base.html" %}
{% block title %} 
Frequentation by country

{% endblock %}
{% block head %}

    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script type='text/javascript'>
$.ajax({
    dataType: "json",
    url:"{{url_for('static',filename="data.js")}}", 
    success: (data) => {
        google.load('visualization', '1', {'packages' : ["geochart"]});
        function fucking_google_callbak() {
        var items = [["Country","popularity"]];
        for( key in data["by_country"]){
            val = data["by_country"][key] * 1 ;
            items.push( [key, val ] )
        };
        data2 = google.visualization.arrayToDataTable(items);
            var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
            chart.draw(data2, {});
        };
        google.setOnLoadCallback( fucking_google_callbak);
    }
})
</script>
{% endblock %}



{% block content %}

     <div id="chart_div" class="centered" style="left:7%;right:7%;position:absolute;width: 80%;top:5em;bottom:2em;border:1px solid lightgrey"></div>

{% endblock %}

