{% extends "base.html" %}
<title>www stat for geoloc</title>
{% block head %}

    <script type='text/javascript' src='./static/data.js' ></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
google.load('visualization', '1', {'packages' : ["geochart"]});
        function fucking_google_callbak() {
        var items = [["Country","popularity"]];
        for( key in data["by_country"]){
            val = data["by_country"][key] * 1 ;
            items.push( [key, val ] )
        };
        data2 = google.visualization.arrayToDataTable(items);
            var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
            chart.draw(data2, {});
        };
        google.setOnLoadCallback( fucking_google_callbak);

</script>
{% endblock %}



{% block content %}
<div class=warning style="display:none;width:30%">
WARNING: Google scripts are pretty randomly working use <br/>
CTRL + MAJ + R to refresh (maybe a header with no cache could help on my side)
<br/>
</div>
<br/>

     <div id="chart_div" style="position:fixed;zindex:1000; top:100px;margin:auto;width: 70%;right:0;height:600px"></div>

{% endblock %}

