{% extends "base.html" %}
<title>www stat for geoloc</title>
{% block head %}
    <title>{% block title %}{% endblock %} - PypiStat</title>
    <script language="javascript" type="text/javascript" 
    src="{{url_for('static',filename="data.js")}}"></script>
    <script language="javascript" type="text/javascript" 
    src="{{url_for('static',filename="js/jquery.js")}}"></script>

        <script language="javascript" type="text/javascript" 
    src="{{url_for('static',filename="js/jquery.flot.js")}}"></script>
        <script language="javascript" type="text/javascript" 
    src="{{url_for('static',filename="js/jquery.flot.pie.js")}}"></script>

<script>
        function _values(arr) { 
            var arrr=[];
            $.each( arr, function(k,v) { arrr.push( v )});
            return arrr;
            
        }
function get_data(category) {
    var here_data=[];
        var top_ten=0;
        sorted= _values(data[category]).sort(function(a,b) { return(  a - b) }).reverse();
        top_ten = _values(data[category]).length > 10 ? sorted[10] : 0;
        console.log("tt" + top_ten);
        $.each( data[category], function(key,value) { 
            if( value > top_ten ){ 
                here_data.push( { "label" : key + "(" + value  + ")" , "data" : 1 * value } ); 
                here_data = here_data.sort();
            }
        });
        return( here_data);
        };
$(document).ready(function() { 
    function update_for(category){ 
        var serie=get_data(category);
        $.plot("#plot",serie, { 'series' : { 'pie' : { 'show' : true } } }); 
    }
    $(".selector").click(function() { 
       update_for( ($(this).attr("href")));
       //$("#ctitle").text( "top ten for " . $(this).attr("href"));

       return false;
    });
    update_for("by_status");
});
</script>
{% endblock %}



{% block content %}
<h1>Click a category to see its pie chart</h1>
<ul>
<li ><a class=selector href=by_status>by status</a></li>
<li ><a class=selector href=by_hour>by hour</a></li>
<li ><a class=selector href=by_browser >by browser</a></li>
<li ><a class=selector href=by_os >by os</a></li>
<li ><a class=selector href=by_country >by country</a></li>
<li ><a class=selector href=by_url >by url</a></li>

<li ><a class=selector href=bytes_by_ip >bandwidth</a></li>

</ul>
     <div id="plot" style="position:absolute; top:100px;margin:auto;width: 70%;right:0;height:600px"></div>

{% endblock %}

