* { margin:0; padding:0}
.horizontal { 
display:block;
margin:auto;
background:#46B;
padding:.7em 0;
}
a:visited, a { color:#46A}
.horizontal li { display:inline; list-style-type: none; color:white; }
.horizontal li a { margin-left:3px;margin-right:2px; padding: .7em; color:white;}
.horizontal li a:hover { border:1px solid grey;margin:-1px;color:#46A; background: white;display: inline;  padding-right: 1em; }
body         {
    font-family: 'Georgia', serif; font-size: 100% ; color: #000; 
    }
#plotbox     { 
    width:95%;

    border:1px solid lightgrey;
    margin:auto;
    text-align:center;
    }
#plot   { 
    
    max-width:1900px;
    background:#f0f0fF;
    min-height:300px;
   margin-bottom:1em;

    }
.centered { 
    margin: auto ; 
    padding:0;
    text-align:center; 
    }
h1, h2, h3   { font-family: 'Georgia', serif; font-weight: normal; }
.header      { height: 165px; }
               font-size: 50px; padding-top: 50px; height: 120px; }
h2           { font-size: 24px; margin: 25px 0 5px 0; }
.json { }
pre          { font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono',
               'Bitstream Vera Sans Mono', monospace!important; font-size: 15px;
               background: #eee; }
.footer      { position:fixed; bottom:0px; text-align: center;left:0;right:0  }
